h1{
    color:rgb(64, 64, 131);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 1px 1px;
    font-size: 200%;

}
h2{
    color:#7678fc;
    font-family: sans-serif;
    
}
h3{
    color:blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}